<%= provide(:title, "Resend Confirmation Instructions") %>

<h1>Resend Confirmation Instructions</h1>
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= render 'shared/error_messages', :object => @user %>
	<div>
		<%= f.label :email %>
		<%= f.email_field :email, class: "input-xxlarge" %>
	</div>
	<div>
		<%= f.submit "Send Again" %>
	</div>
<% end %>
<%= render "devise/shared/links" %>
