<%= tinymce theme_advanced_buttons1: "bold,italic,underline,strikethrough,separator,forecolor,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,removeformat,code,fullscreen", theme_advanced_buttons2: "", theme_advanced_buttons3: "", width: "100%", height: "600", content_css: "/assets/tinymce.css", valid_elements: "-strong,-em,-u,-p,p[style],-ol,ol[style],-ul,ul[style],-li,li[style],-span,span[style],-div,div[style]", theme_advanced_resizing: true, theme_advanced_resize_horizontal: false %>

<%= provide(:title, "Update Post: #{@blog_post.title}") %>

<h1>Update Post: <%= @blog_post.title %></h1>

<%= form_for(@blog_post) do |f| %>
	<%= render 'shared/error_messages', :object => @blog_post %>
	
	<%= f.label :title, "Post Title*" %>
	<%= f.text_field :title, placeholder: "Enter the title of the post...", class: "input-xxlarge" %>
	
	<%= f.label :body, "Post Content*" %>
	<%= f.text_area :body, class: "tinymce" %>
	
	<%= f.label :tag_list, "Tags (separate by commas)" %>
    <%= f.text_field :tag_list, placeholder: "Enter tags for this post...", class: "input-xxlarge" %>
	
	<%= f.label :status, "Status?" %>
	<%= f.radio_button :status, 0 %> Draft<br />
	<%= f.radio_button :status, 1 %> Live
	
	<div>
		<%= f.submit "Publish", class: "btn btn-large btn-primary" %>
		<div class="disclaimer">*required field</div>
	</div>
<% end %>