<% provide(:title, "#{@blog_post.title}") %>

<section class="post-content">
	<div class="post-title">
		<%= @blog_post.title %>
		<% if current_user.try(:admin?) %>	
			<div class="post-actions">
				<%= link_to image_tag("icon_edit.png"), edit_blog_post_path(@blog_post), title: "Edit Post" %>
				<%= link_to image_tag("icon_delete.png"), @blog_post, method: :delete, data: { confirm: "Are you sure you want to delete the post: #{@blog_post.title} (by #{@blog_post.author})?" }, title: "Delete Post" %>
			</div>
		<% end %>
	</div>
	<div class="post-author">
		Posted by <%= @blog_post.author %>
	</div>
	<div class="post-date">
		Posted <%= time_ago_in_words(@blog_post.created_at) %> ago
	</div>
	<div class="post-body">
		<%= @blog_post.body.html_safe %>
	</div>
	<div class="post-labels">
		<strong>Tags:</strong> <%= tag_links(@blog_post.blog_post_tags) %>
	</div>
</section>
<section class="post-comments">
	<h2><%= pluralize(@blog_post_comments.size, "Comment") %></h2>
	<% if @blog_post_comments.empty? %>
		<h4>No one has commented on this post yet.</h4>
	<% end %>
	<%= will_paginate @blog_post_comments %>
		<section class="comments-list">
			<% @blog_post_comments.each do |comment| %>
				<article class="comment">
					<div class="comment-author">
						<%= gravatar_for comment, size: 40 %>&nbsp; <%= comment.name %> <span class="comment-date">commented <%= time_ago_in_words(comment.created_at) %> ago</span>
						<% if current_user.try(:admin?) || (user_signed_in? && current_user.email == comment.email) %>
							<div class="post-actions">
								<%= link_to image_tag("icon_delete.png"), comment, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, title: "Delete Comment" %>
							</div>
						<% end %>
					</div>
					<div class="comment-body">
						<%= comment.comment %>
					</div>
				</article>
			<% end %>
		</section>
	<%= will_paginate @blog_post_comments %>
	<%= form_for(@blog_post_comment) do |f| %>
		<h3>Add New Comment</h3>
		
		<%= render 'shared/error_messages', :object => @blog_post_comment %>
		
		<% if user_signed_in? %>
			<%= gravatar_for current_user, size: 40 %>&nbsp; <span class="user-name"><%= current_user.name %></span>
			<%= f.hidden_field :name, value: "#{current_user.name}" %>
			<%= f.hidden_field :email, value: "#{current_user.email}" %>
		<% else %>
			<%= f.label :name, "Name*" %>
			<%= f.text_field :name, placeholder: "Enter your name...", class: "input-xxlarge" %>
			<%= f.label :email, "Email" %>
			<%= f.text_field :email, placeholder: "Enter your email...", class: "input-xxlarge" %>
		<% end %>
		
		<%= f.label :comment, "Comment*" %>
		<%= f.text_area :comment, placeholder: "Enter your comment..." %>

		<%= f.hidden_field :blog_post_id, value: "#{@blog_post.id}" %>
		
		<div>
			<%= f.submit "Publish", class: "btn btn-large btn-primary" %>
			<div class="disclaimer">*required fields</div>
		</div>
	<% end %>
</section>