<%= provide(:title, "Change Your Password") %>

<h1>Change Your Password</h1>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= render 'shared/error_messages', :object => @user %>
	<%= f.hidden_field :reset_password_token %>
	<div>
		<%= f.label :password, "New Password" %>
		<%= f.password_field :password, class: "input-xxlarge" %>
	</div>
	<div>
		<%= f.label :password_confirmation, "Confirm New Password" %>
		<%= f.password_field :password_confirmation, class: "input-xxlarge" %>
	</div>
	<div>
		<%= f.submit "Change my password", class: "btn btn-primary" %>
	</div>
<% end %>
<%= render "devise/shared/links" %>
