<%= provide(:title, "Forgot your password?") %>

<h1>Forgot your password?</h1>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= render 'shared/error_messages', :object => @user %>
	<div>
		<%= f.label :email %>
		<%= f.email_field :email, class: "input-xxlarge" %>
	</div>
	<div>
		<%= f.submit "Send", class: "btn btn-primary" %>
	</div>
<% end %>
<%= render "devise/shared/links" %>
