<%= tinymce theme_advanced_buttons1: "bold,italic,underline,strikethrough,separator,forecolor,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,removeformat,code,fullscreen", theme_advanced_buttons2: "", theme_advanced_buttons3: "", width: "100%", height: "600", content_css: "/assets/tinymce.css", valid_elements: "-strong,-em,-u,-p,p[style],-ol,ol[style],-ul,ul[style],-li,li[style],-span,span[style],-div,div[style]", theme_advanced_resizing: true, theme_advanced_resize_horizontal: false %>

<%= provide(:title, 'Add New Arrangement') %>

<h1>Add New Arrangement</h1>
<h2>Arrangement for: <%= @song.title %></h2>

<%= form_for(@song_arrangement) do |f| %>
	<%= render 'shared/error_messages', :object => @song_arrangement %>
	
	<%= f.label :title, "Arrangement Title*" %>
	<%= f.text_field :title, placeholder: "Enter the title of the arrangement...", class: "input-xxlarge" %>
	
	<%= f.label :original_key, "Original Key" %>
	<%= f.select :original_key, ["Ab", "A", "A#", "Bb", "B", "C", "C#", "Db", "D", "D#", "Eb", "E", "F", "F#", "Gb", "G", "G#"], class: "input-mini" %>
	
	<%= f.label :bpm, "BPM" %>
	<%= f.number_field :bpm, class: "input-mini" %>
	
	<%= f.label :chart_content, "Chart*" %>
	<%= f.text_area :chart_content, class: "tinymce" %>
	
	<%= f.label :chart_mapping, "Mapping" %>
	<%= f.text_field :chart_mapping, placeholder: "V1, C, V2, C, B, C, C", class: "input-xxlarge" %>
	
	<%= f.label :notes, "Notes" %>
	<%= f.text_area :notes, class: "tinymce" %>
	
	<%= f.hidden_field :added_by, value: "#{current_user.email}" %>
	<%= f.hidden_field :song_id, value: "#{@song.id}" %>
	
	<div>
		<%= f.submit "Add", class: "btn btn-large btn-primary" %>
		<div class="disclaimer">*required field</div>
	</div>
<% end %>