Website Contact Form Submission
==========================================================================
 
Someone has filled out the contact form. What do they want? Look below!
 
Name: <%= @contact.full_name %>
Email: <%= @contact.email.downcase %>
Message: <%= @contact.message %>