<%= tinymce theme_advanced_buttons1: "bold,italic,underline,strikethrough,separator,forecolor,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,removeformat,code,fullscreen", theme_advanced_buttons2: "", theme_advanced_buttons3: "", width: "100%", height: "450", content_css: "/assets/tinymce.css", valid_elements: "-strong,-em,-u,-p,p[style],-ol,ol[style],-ul,ul[style],-li,li[style],-span,span[style],-div,div[style]" %>

<%= provide(:title, 'Add New Attachment') %>

<h1>Add New Attachment</h1>
<h2>Song: <%= @song.title %><br />
Arrangement: <%= @song_arrangement.title %></h2>

<%= form_for @song_arrangement_file, html: {multipart: true} do |f| %>
	<%= render 'shared/error_messages', :object => @song_arrangement_file %>
	
	<%= f.label :title, "Attachment Title*" %>
	<%= f.text_field :title, placeholder: "Enter the title of the attachment...", class: "input-xxlarge" %>
	
	<%= f.label :file_path, "Attachment File" %>
	<%= f.file_field :file_path %>
	<div class="current-uploaded-file">
		<% if @song_arrangement_file.file_path? %>
			<strong>(Current file selected for upload:</strong> <%= @song_arrangement_file.file_path.identifier %><strong>)</strong>
		<% end %>
	</div>
	
	<%= f.label :url, "Attachment URL (if no file uploaded)" %>
	<%= f.text_field :url, placeholder: "Enter the url to the file...", class: "input-xxlarge" %>
	
	<%= f.label :description, "Description" %>
	<%= f.text_area :description, class: "input-xxlarge tinymce" %>
	
	<%= f.hidden_field :file_path_cache %>
	<%= f.hidden_field :added_by, value: "#{current_user.email}" %>
	<%= f.hidden_field :song_id, value: "#{@song.id}" %>
	<%= f.hidden_field :song_arrangement_id, value: "#{@song_arrangement.id}" %>
	
	<div>
		<%= f.submit "Add", class: "btn btn-large btn-primary" %>
		<div class="disclaimer">*required field</div>
	</div>
<% end %>