<%= provide(:title, "Sign In") %>

<h1>Sign In</h1>
<div class="sign-in-form">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div>
			<%= f.label :email %>
			<%= f.email_field :email, class: "input-xlarge" %>
		</div>
		<div>
			<%= f.label :password %>
			<%= f.password_field :password, class: "input-xlarge" %>
		</div>
		<% if devise_mapping.rememberable? %>
			<div>
				<%= f.check_box :remember_me, class: "remember-me-checkbox" %>
				<%= f.label :remember_me %>
			</div>
		<% end %>
		<div>
			<%= f.submit "Sign In", class: "btn btn-primary" %>
		</div>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
