<%= tinymce theme_advanced_buttons1: "bold,italic,underline,strikethrough,separator,forecolor,separator,bullist,numlist,outdent,indent,separator,undo,redo,separator,removeformat,code,fullscreen", theme_advanced_buttons2: "", theme_advanced_buttons3: "", width: "100%", height: "450", content_css: "/assets/tinymce.css", valid_elements: "-strong,-em,-u,-p,p[style],-ol,ol[style],-ul,ul[style],-li,li[style],-span,span[style],-div,div[style]" %>

<% provide(:title, 'Contact') %>

<h1>Contact</h1>

<%= form_for @contact, :url => contact_path  do |f| %>
	<%= render 'shared/error_messages', :object => @contact %>
	
	<%= f.label :full_name, "Full Name*" %>
	<div class="input-prepend">
		<%= f.text_field :full_name, class: "input-xxlarge", placeholder: "Enter your name..." %>
	</div>
	
	<%= f.label :email, "Email*" %>
	<div class="input-prepend">
		<%= f.text_field :email, class: "input-xxlarge", placeholder: "Enter your email..." %>
	</div>
	
	<%= f.label :message, "Message*" %>
	<%= f.text_area :message, class: "tinymce" %>
	
	<div>
		<%= f.submit "Send", class: "btn btn-large btn-primary" %>
		<div class="disclaimer">*all fields required</div>
	</div>
<% end %>
