@import "bootstrap";


/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 1200px;
  .content {
    width: 1150px;
    padding: 0px 25px;
  }
}

body > .container {
  margin-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.gravatar-large {
  padding-bottom: 20px;
}

.frame-image {
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.disclaimer {
  display: inline;
  margin-left: 15px;
  font-size: 12px;
  color: #999;
  vertical-align: bottom;
}

.cleanup {
  clear: both;
}


/* typography */
.accent {
  color: #08c;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 24px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-inverse .nav .active a {
  background-color: #08c;
  &:hover {
    background-color: #08c;
  }
}

.top-bar{
  width: 1200px;
  margin-top: -19px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  color: #333;
  padding: 20px 0px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  .logo {
    float: left;
    margin-left: 20px;
  }
  .slogan {
    float: right;
    margin-right: 20px;
    text-align: right;
    font-size: 34px;
    line-height: 34px;
  }
}


/* footer */
footer {
  margin-top: 75px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight; 
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* forms */
.sign-in-form {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  border: 1px solid #bbb;
  height: 36px;
  padding: 7px;
  margin-bottom: 0;
  height: auto !important;
  @include box_sizing;
}

.input-inline {
  margin-top: 15px;
}

label {
  font-weight: bold;
  margin-top: 15px;
}

#error_explanation {
  color: #f00;
  padding-bottom: 20px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
  margin-bottom: 0;
}

textarea {
  resize: vertical;
}

input[type="checkbox"][class="remember-me-checkbox"] {
  float: left;
  margin-right: 7px;
  font-weight: bold;
}

input[type="radio"] {
  margin-top: -4px;
}

input[type="submit"] {
  margin-top: 15px;
}

.btn-cancel {
  margin: 15px 0px 0px 5px;
}

.btn-add-new {
  margin-top: 20px;
}


/* index pages */
.data-list {
  list-style: none;
  margin: 0;
  article {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    .data {
      display: inline;
      float: left;
      width: 1015px;
      margin-top: 7px;
      font-size: 26px;
      overflow: hidden;
      .data-title {
        display: inline;
        float: left;
        max-width: 600px;
        line-height: 28px;
        .data-subtitle {
          display: inline;
          margin-left: 5px;
          font-size: 16px;
          color: #bbb;
        }
      }
      .data-note {
        float: right;
        margin-left: 5px;
        font-size: 16px;
        color: #ccc;
      }
    }
    .data-actions {
      display: inline;
      float: right;
      margin-top: 1px;
      font-size: 20px;
    }
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/* songs show arrangement list */
.song-arrangements-list {
  margin-top: 20px;
  .song-arrangement {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 20px;
    .arrangement-title-and-details {
      background-color: #fff;
      padding: 10px 5px 5px 5px;
      .arrangement-title {
        font-size: 26px;
      }
      .arrangement-details {
        font-size: 22px;
        padding-left: 5px;
        color: #bbb;
      }
    }
    .arrangement-attachments .no-attached-file {
      display: block;
      background-color: #fff;
      padding: 5px;
      margin-top: 5px;
      font-weight: bold;
      color: #333;
    }
    .arrangement-attachments .attached-file {
      background: #fff;
      float: left;
      padding: 5px 10px;
      margin-right: 10px;
      font-weight: bold;
      color: #333;
      .link {
        color: #08c;
      }
      &:hover {
        background-color: #08c;
        text-decoration: none;
        .link {
          color: #fff;
        }
      }
    }
  }
}


/* song arrangements */
.song-arrangements {
  margin-top: 75px;
  h2 {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.song-arrangement-wrapper {
  float: left;
  width: 750px;
  .song-arrangement-title {
    background-color: #eee;
    margin-top: 15px;
    padding: 10px 15px;
  }
  .song-arrangement-chart {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    p {
      min-height: 16px;
      margin: 0;
      margin-bottom: 4px;
      line-height: 100%;
    }
    margin-top: 20px;
  }
}

.song-arrangement-attached-files-and-notes-wrapper {
  float: right;
  width: 400px;
  .song-arrangement-attached-files {
    border: 1px solid #eee;
    background-color: #eee;
    padding: 0px 5px 5px 5px;
    .no-attached-file {
      display: block;
      background-color: #fff;
      padding: 5px;
      margin-top: 5px;
      font-weight: bold;
      color: #333;
    }
    .attached-file {
      display: block;
      background-color: #fff;
      padding: 5px;
      margin-top: 5px;
      font-weight: bold;
      color: #333;
      .link {
        color: #08c;
      }
      &:hover {
        background-color: #08c;
        text-decoration: none;
        .link {
          color: #fff;
        }
      }
    }
  }
  .song-arrangement-notes {
    border: 1px solid #eee;
    background-color: #eee;
    margin-top: 20px;
    padding: 0px 5px 5px 5px;
    .arrangement-notes {
      background-color: #fff;
      padding: 5px;
    }
  }
}


/* song arrangements files */
.song-arrangement-files {
  margin-top: 75px;
  h2 {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


/* blog index page */
.post {
  border-bottom: solid 1px $grayMediumLight;
  .post-meta-info {
    margin-top: 40px;
    padding: 0px 25px;
    .post-title {
      font-size: 28px;
      font-weight: bold;
      .post-actions {
        display: inline;
      }
    }
    .post-author {
      margin-top: 5px;
      font-size: 12px;
      font-style: italic;
      line-height: 14px;
    }
    .post-date {
      font-size: 12px;
      font-style: italic;
      line-height: 14px;
    }
  }
  .post-body-content {
    padding: 0px 50px 40px 50px;
    .post-body {
      margin-top: 25px;
      font-size: 16px;
    }
    .post-labels {
      margin-top: 25px;
      font-size: 12px;
      font-style: italic;
      color: $grayLight;
      line-height: 14px;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}


/* blog show page */
.blog-roll {
  float: left;
  width: 875px;
}
.blog-sidebar {
  float: right;
  width: 275px;
  .blog-tag-cloud {
    width: 275px;
    line-height: 150%;
    .rare { font-size: 12px; }
    .somewhat { font-size: 18px; }
    .frequent { font-size: 26px; }
  }
  .recent-blog-posts {
    margin-top: 40px;
    .blog-post-title {
      width: 100%;
    }
  }
  .popular-blog-posts {
    margin-top: 40px;
    .blog-post-title {
      width: 100%;
    }
  }
}
.post-content {
  .post-title {
    font-size: 28px;
    font-weight: bold;
    .post-actions {
      display: inline;
    }
  }
  .post-author {
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
  }
  .post-date {
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
  }
  .post-body {
    margin-top: 25px;
    padding: 0px 25px;
    font-size: 16px;
  }
  .post-labels {
    margin-top: 25px;
    font-size: 12px;
    font-style: italic;
    color: $grayLight;
    line-height: 14px;
  }
}
.post-comments {
  margin-top: 50px;
  .comments-list {
    .comment {
      padding: 30px 0px;
      border-bottom: solid 1px $grayMediumLight;
      .comment-author {
        font-size: 16px;
        font-weight: bold;
        .comment-date {
          font-size: 14px;
          font-style: italic;
        }
        .post-actions {
          display: inline;
        }
      }
      .comment-body {
        padding: 15px 25px 0px 25px;
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
  .new_blog_post_comment {
    margin-top: 30px;
    textarea {
      width: 700px;
      height: 200px !important;
    }
    .user-name {
      font-size: 16px;
      font-weight: bold;
    }
  }
}
