<p>Welcome, <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm My Account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
