<footer class="footer">
	<small>
		&copy; 2013 Copyright <%= link_to "Worship Tuner", root_path %> | All Rights Reserved
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Who We Are", who_we_are_path %></li>
			<li><%= link_to "How it Works", how_it_works_path %></li>
			<li><%= link_to "Song Library", songs_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>