<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav">
					<li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
					<li class="<%= 'active' if current_page?(who_we_are_path) %>"><%= link_to "Who We Are", who_we_are_path %></li>
					<li class="<%= 'active' if current_page?(how_it_works_path) %>"><%= link_to "How it Works", how_it_works_path %></li>
					<li class="<%= 'active' if current_page?(songs_path) %>"><%= link_to "Song Library", songs_path %></li>
					<li class="<%= 'active' if current_page?(blog_posts_path) %>"><%= link_to "Blog", blog_posts_path %></li>
					<li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
				</ul>
				<ul class="nav pull-right">
					<li id="fat-menu" class="dropdown">
						<% if user_signed_in? %>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "#{current_user.name}" %> <b class="caret"></b></a>
						<% else %>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
						<% end %>
						<ul class="dropdown-menu">
							<% if user_signed_in? %>
								<li><%= link_to "Songs", songs_path %></li>
								<li><%= link_to "Arrangements", song_arrangements_path %></li>
								<li><%= link_to "Attachments", song_arrangement_files_path %></li>
				                <% if current_user.try(:admin?) %>
					                <li class="divider"></li>
									<li><%= link_to "Blog Dashboard", dashboard_blog_posts_path %></li>
				                <% end %>
				                <li class="divider"></li>
								<li><%= link_to "Profile", edit_user_registration_path %></li>
				                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
			    	        <% else %>
			    	        	<li><%= link_to "Register", new_user_registration_path %></li>
				                <li class="divider"></li>
			    	        	<li><%= link_to "Sign In", new_user_session_path %></li>
			    	        <% end %>
			            </ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>